<div style="float: left; background-color: #0079BF; width: calc(80% - 1px); height: 100%; margin: 1px 0 0 1px; display: flex; gap: 1rem;">
    
    <div style="width: 25%;">
        <span>Listas de tareas</span>
        <div style="background-color: aliceblue;">
            Para mover 1
        </div>
    </div>
    <div style="width: 25%;">
        <span>En proceso</span>
        <div style="background-color: aliceblue;">
            Para mover 2
        </div>
    </div>
    <div style="width: 25%;">
        <span>Finalizado</span>
        <div style="background-color: aliceblue;">
            Para mover 3
        </div>
    </div>
</div>

