<div style="width: 100%; background-color: #005C91; padding: 1rem; color: white; margin-top: 1px;">
    <span style="padding-left: 1rem;">Proyecto tenis</span>
</div>
<div >
    
    <div class="example-container">
        <span style="margin-left: 0.5rem;">Lista de tareas</span>
      
        <div
          cdkDropList
          #todoList="cdkDropList"
          [cdkDropListData]="todo"
          [cdkDropListConnectedTo]="[processList, doneList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          @for (item of todo; track item) {
            <div class="example-box" cdkDrag>{{item}}</div>
          }
        </div>
    </div>

    <div class="example-container">
        <span style="margin-left: 0.5rem;">En proceso</span>
      
        <div
          cdkDropList
          #processList="cdkDropList"
          [cdkDropListData]="process"
          [cdkDropListConnectedTo]="[todoList, doneList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          @for (item of process; track item) {
            <div class="example-box" cdkDrag>{{item}}</div>
          }
        </div>
    </div>
      
    <div class="example-container">
        <span style="margin-left: 0.5rem;">Finalizado</span>
      
        <div
          cdkDropList
          #doneList="cdkDropList"
          [cdkDropListData]="done"
          [cdkDropListConnectedTo]="[processList, todoList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          @for (item of done; track item) {
            <div class="example-box" cdkDrag>{{item}}</div>
          }
        </div>
    </div>

    
      
</div>
    


