<aside style="float: left;height:90vh;min-width: 220px;width: 20%;background-color: #0066A0; margin-top: 1px; padding: 3rem 2rem;">
    <ul style="list-style: none; display: flex; flex-direction: column; gap: 1rem; color: white; margin-top: 1rem;">
        <li style="display: flex; align-items: center; gap: 0.5rem">
            <img src="../../assets/images/icon-tablero.png" alt="" style="height: 1.1rem;">
            <span>Tableros</span>
        </li>
        <li style="display: flex; align-items: center; gap: 0.5rem">
            <img src="../../assets/images/icon-members.png" alt="" style="height: 1.1rem;">
            <span>Miembros</span>
        </li>
        <li style="margin-top: 1rem; font-weight: 600;">Sus tableros</li>
        <li style="margin-left: 1rem;">Proyecto Actual</li>
    </ul>
</aside>
