<aside style="float: left;height:90vh;width: 20%;background-color: #0066A0; margin-top: 1px; padding: 3rem 2rem;">
    <ul style="list-style: none; display: flex; flex-direction: column; gap: 1rem; color: white">
        <li style="display: flex; align-items: center; gap: 0.5rem">
            <img src="../../assets/images/icon-tablero.png" alt="" style="height: 1.1rem;">
            <span>Tableros</span>
        </li>
        <li style="display: flex; align-items: center; gap: 0.5rem">
            <img src="../../assets/images/icon-members.png" alt="" style="height: 1.1rem;">
            <span>Miembros</span>
        </li>
        <li>Sus tableros</li>
        <li>Proyecto tenis</li>
    </ul>
</aside>
